<div class="row user-session">
  <h3>Sign in</h3>
  <hr />
  <div class="row">
    <div class="col-6">
      Don't have an account?, <%= link_to "create account", new_user_registration_path %> 
    </div>
    <div class="col-6 nopadding text-right">
      <%= link_to user_omniauth_authorize_path(:facebook), class: "button primary" do %>
        <i class="fa fa-facebook"></i> Sign in with Facebook
      <% end %>
    </div>
  </div>
  <br />
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %>
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in", class: 'button large' %></div>
  <% end %>
</div>
